# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment folders
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# Environment variable files
.env

# macOS system file
.DS_Store

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# Log files
*.log
